<ion-header>
    <ion-toolbar>
        <!--ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons-->
        <ion-icon 
        class="ion-float-left"
        style="width: 2.5em;height: 2.5em;margin-left:32px;" 
        name="person"
    ></ion-icon>
    <ion-menu-toggle class="ion-float-right"
    style="margin-right:32px;" >
            <ion-icon name="apps"
            style="width: 2.5em;height: 2.5em;"></ion-icon>
        </ion-menu-toggle>
    
        
    </ion-toolbar>
</ion-header>