<app-header></app-header>
<app-sidebarmenu></app-sidebarmenu>
<ion-content id="content1" ion-content>
  <ion-row class="ion-padding"  class="ion-text-center" >
    <ion-col class="ion-text-center item-col" size="3" size-md></ion-col>
    <ion-col class="ion-text-center item-col" size="6" size-md>
      <ion-icon name="help" style="font-size:4em;" class="center"></ion-icon>
      <h4 class="item-menu" id="index-heading3">CONTACTAR</h4>
      <h4 class="item-menu" id="index-heading3">{{ appname }} </h4>
    </ion-col>
    <ion-col class="ion-text-center item-col" size="3" size-md></ion-col>
  </ion-row>
<ion-item><strong>Quienes Somos:</strong></ion-item>
<ion-item>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, recusandae quasi! Nihil provident, sit accusantium maxime animi earum, iusto est quidem laudantium doloremque reiciendis, tempore necessitatibus perferendis mollitia beatae cupiditate.</ion-item>
<ion-item><strong>Nuestro Objetivo:</strong></ion-item>
<ion-item>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi eveniet, molestiae unde quae dolor et laboriosam totam porro! Natus labore et, qui quibusdam quisquam earum placeat molestiae perspiciatis delectus ipsum.</ion-item>
<ion-item><h4>Contáctanos</h4></ion-item>
<ion-item>Dirección:</ion-item>
<ion-item>Correo:</ion-item>
<ion-item>Teléfono:</ion-item>
<ion-item>Redes Sociales:</ion-item>
</ion-content>
<ion-footer style="background-color: #ffffff !important;" class="ion-text-center">
    <ion-button (click)="llamar()">Llamar</ion-button>
  </ion-footer>