
    h1{
        font-family: AndesCondensed_0;
    }
    
    h4{
        font-family: AndesCondensedBlack_0;
    }
    
    
    .image {
             height: 35vw;
             width: 35vw;
            border: 1px solid #fff;
            
             margin:10 auto;
            
            display: inline-block;
            margin-left: 8%;
            margin-right: auto;
        }
    
    
    
    
    
    ion-img{
         display: block;
         width: 20%; height: 40%;
        background: rgba(255, 255, 255, 0.7);
        margin-left: auto;
        margin-right: auto;
    }
    
    
    #index-heading1 {
        color: #0951B8;
        font-weight: lighter;
        text-align: center;
    }
    
    #index-heading3 {
        color: #0951B8;
        text-align: center;
    }
    
    #index-container1 {
    }
    
    #index-container2 {
    }
    
    #index-container9 {
    }
    
    #index-button-bar10 {
    }
    
    #index-button10 {
    }
    
    #index-button11 {
    }
    
    #index-button12 {
    }
    
    .has-header {
    }
    
    .spacer {
        width: 100px;
        height: 47px;
    }
    
    