<ion-header>
    <ion-toolbar>
      <ion-title>Terminos y Condiciones</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <p class="ion-padding">Confirmo que soy mayor de edad y autorizo a {{ empresa }} para el uso de mis datos personales de acuerdo con las Políticas de tratamiento de información de acuerdo al Ley 1581 de 2012 en Colombia.</p>
  </ion-content>
  <ion-footer>
    <ion-button round block class="ion-float-left" (click)="cancel()">Cancelar</ion-button>
    <ion-button round block class="ion-float-right" (click)="accept()">Aceptar</ion-button>
  </ion-footer>