<ion-menu side="start" menuId="first" contentId="content1">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{appname}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="sidebar_menu">
    <ion-list *ngFor="let pages of navigate" lines="none" no-lines>
    <ion-menu-toggle auto-hide="false"> 
        <ion-item [href]="pages.url" routerDirection="forward" no-lines>
            <ion-icon 
                style="width: 1.5em;height: 1.5em;" 
                [src]="pages.icon" 
                slot="start"
            ></ion-icon>
                {{pages.title}} 
        </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

